<div>
  <div class="nuevoConductor">
    <p-button label="Nuevo conductor" icon="pi pi-user-plus" severity="danger" (onClick)="nuevoConductor()" />
  </div>
  <p-toast />
  <p-confirmDialog />
  <div>
    
    <p-table [value]="conductores" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Teléfono</th>
          <th>Editar buses</th>
          <th>Editar conductor</th>
          <th>Eliminar</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-conductor>
        <tr>
          <td>{{ conductor?.nombre }}</td>
          <td>{{ conductor?.apellido }}</td>
          <td>{{ conductor?.cedula }}</td>
          <td>{{ conductor?.telefono }}</td>
          <td>
            <p-button icon="pi pi-truck" severity="success" (onClick)="editarBuses(conductor)" />

          </td>
          <td>
            <p-button icon="pi pi-user-edit" severity="info" (onClick)="moverEditarConductor(conductor)" />
          </td>
          <td>            
            <p-button icon="pi pi-times" severity="danger" (onClick)="confirm1($event, conductor)" [outlined]="true" />
          </td>
        </tr>
      </ng-template>
      <p-toast></p-toast>
    </p-table>
  </div>
</div>