<div>
  <p-toast></p-toast>
  <div class="card">
    <h2>Editar conductor</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label htmlFor="nombre">Nombre</label>
        <input pInputText id="nombre" formControlName="nombre" />
        <small *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="p-error">
          Nombre es requerido
        </small>
      </div>
      <div class="field">
        <label htmlFor="apellido">Apellido</label>
        <input pInputText id="apellido" formControlName="apellido" />
        <small *ngIf="registroForm.get('apellido')?.invalid && registroForm.get('apellido')?.touched" class="p-error">
          Apellido es requerido
        </small>
      </div>

      <div class="field">
        <label htmlFor="cedula">Cédula</label>
        <input pInputText id="cedula" formControlName="cedula" />
        <small *ngIf="registroForm.get('cedula')?.invalid && registroForm.get('cedula')?.touched" class="p-error">
          Cédula es requerida
        </small>
      </div>

      <div class="field">
        <label htmlFor="telefono">Teléfono</label>
        <input pInputText id="telefono" formControlName="telefono" />
        <small *ngIf="registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched" class="p-error">
          Teléfono es requerido
        </small>
      </div>
      <div class="direccion">
        <div class="field">
          <label for="tipoVia">Tipo de vía: </label>
          <select id="tipoVia" formControlName="tipoVia" required>
            <option value="Calle">Calle</option>
            <option value="Carrera">Carrera</option>
            <option value="Avenida">Avenida</option>
            <option value="Diagonal">Diagonal</option>
            <option value="Transversal">Transversal</option>
            <option value="Circular">Circular</option>
            <option value="Manzana">Manzana</option>
            <option value="Kilómetro">Kilómetro</option>
          </select>
        </div>
        <div class="field">
          <label htmlFor="numeroVia">Número de vía</label>
          <p-inputNumber id="numeroVia" formControlName="numeroVia"></p-inputNumber>
          <small
            *ngIf="registroForm.get('direccion.numeroVia')?.invalid && registroForm.get('direccion.numeroVia')?.touched"
            class="p-error">
            Número de vía es requerido
          </small>
        </div>
        <div class="field">
          <label htmlFor="numero">Número</label>
          <p-inputNumber id="numero" formControlName="numero"></p-inputNumber>
          <small *ngIf="registroForm.get('direccion.numero')?.invalid && registroForm.get('direccion.numero')?.touched"
            class="p-error">
            Número es requerido
          </small>
        </div>
        <div class="field">
          <label htmlFor="barrio">Barrio</label>
          <input pInputText id="barrio" formControlName="barrio" />
          <small *ngIf="registroForm.get('direccion.barrio')?.invalid && registroForm.get('direccion.barrio')?.touched"
            class="p-error">
            Barrio es requerido
          </small>
        </div>
        <div class="field">
          <label htmlFor="localidad">Localidad</label>
          <input pInputText id="localidad" formControlName="localidad" />
          <small
            *ngIf="registroForm.get('direccion.localidad')?.invalid && registroForm.get('direccion.localidad')?.touched"
            class="p-error">
            Localidad es requerida
          </small>
        </div>
      </div>


      <p-button type="submit" pButton label="Submit" [disabled]="registroForm.invalid"></p-button>
    </form>
  </div>
</div>