.seccion {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    background-color: #e30613;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    position: sticky;
    top: 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  button {
    margin-right: 10px;
  }
  
  .p-button-text {
    color: #e30613;
  }

  tr td{
    text-align: center;
  }

  tr th{
    text-align: center;

  }


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.boton {
  background: linear-gradient(90deg, #4caf50, #81c784);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.boton:hover {
  background: linear-gradient(90deg, #45a049, #66bb6a);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.boton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
