<div class="seccion">
  <h1 class="titulo">Gestionar Conductores</h1>

  <ng-container *ngIf="!mostrarCrearConductor && !mostrarEditarConductor && !mostrarEditarBuses">
    <ng-container *ngIf="conductores$ | async as conductores">
      <app-c-gestion-conductores [conductores]="conductores"
        (crearNuevoConductor)="onCrearNuevoConductor()"
        (editarBuses)="onEditarBuses(conductor)"
        (editarConductor)="onEditarConductor($event)">
      </app-c-gestion-conductores>

      <p *ngIf="conductores.length === 0">No hay conductores disponibles</p>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="mostrarCrearConductor">
    <app-c-crear-conductor></app-c-crear-conductor>
    <p-button icon="pi pi-arrow-left" severity="danger" (click)="volverAGestion()" label="Volver" />
  </ng-container>

  <ng-container *ngIf="mostrarEditarConductor">
    <app-c-editar-conductor [conductor]="conductorEditar" ></app-c-editar-conductor>
    <!-- <button type="submit" (click)="volverAGestion()">Volver</button> -->
    <p-button icon="pi pi-arrow-left" severity="danger" (click)="volverAGestion()" label="Volver" />
  </ng-container>


</div>